@font-face {
  font-family: "Roboto";
  src: url("./assets/font/roboto/Roboto-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/font/roboto/Roboto-Light.ttf");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/font/roboto/Roboto-Bold.ttf");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/font/roboto/Roboto-Black.ttf");
  font-style: normal;
  font-weight: 900;
}
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
iframe,
ol,
ul,
li,
form,
label,
i,
footer,
header,
menu,
nav,
a,
table,
thead,
tbody,
tfoot,
tr,
th,
td,
video,
canvas,
section,
applet,
object,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
hgroup,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
dl,
dt,
dd,
fieldset,
legend,
article,
aside,
details,
embed,
figure,
figcaption,
output,
section,
summary,
time,
mark,
audio,
center,
ruby {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  outline: none !important;
  box-sizing: border-box;
}

input::-webkit-content-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

button {
  cursor: pointer;
}

p {
  margin: 0;
}

input,
button,
select {
  display: inline-block;
  padding: 0;
  border: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  max-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  background-color: #ffffff;
}

.container {
  max-width: 1680px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.d_flex {
  display: flex;
}

.f_wrap {
  flex-wrap: wrap;
}

.f_no_wrap {
  flex-wrap: nowrap;
}

.f_row {
  flex-direction: row;
}

.f_direction_column {
  flex-direction: column;
}

.j_content_start {
  justify-content: flex-start;
}

.j_content_end {
  justify-content: flex-end;
}

.j_content_center {
  justify-content: center;
}

.j_content_between {
  justify-content: space-between;
}

.a_items_start {
  align-items: flex-start;
}

.a_items_end {
  align-items: flex-end;
}

.a_items_center {
  align-items: center;
}

/* =============================-static-style-start-============================= */
.btn {
  width: 205px;
  height: 48px;
  background-color: #4E8035;
  border-radius: 9px;
  transition: 0.3s;
}
.btn:hover {
  color: #ffffff;
  background-color: #2A5515;
}
.btn span {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 20px;
  letter-spacing: 0.96px;
  text-transform: uppercase;
}

.section-title {
  font-size: 72px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.slider-arrows {
  margin: 16px -8px 0;
}
.slider-arrows .custom-prev, .slider-arrows .custom-next {
  padding: 0 8px;
  cursor: pointer;
}
.slider-arrows .custom-prev:hover *, .slider-arrows .custom-next:hover * {
  fill: #000000;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #656565;
}

::-webkit-scrollbar-thumb:hover {
  background: #3ec5e6;
}

svg * {
  width: 100%;
  height: 100%;
}

/* =============================-static-style-end-============================= */
/* =============================-header-style-start-============================= */
header {
  position: fixed;
  width: 100%;
  background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 90%);
  z-index: 1;
}
header .header-logo {
  width: 162px;
  height: 162px;
  margin-top: 28px;
}
header .header-logo a {
  width: 100%;
  height: 100%;
}
header .header-logo a img {
  width: 100%;
}
header .header-menu {
  display: flex;
  align-items: center;
}
header .header-menu__item {
  padding: 0 15px;
}
header .header-menu__item a {
  color: #c3c3c3;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  transition: 0.3s;
}
header .header-menu__item a:hover {
  color: #ffffff;
}

/* =============================-header-style-end-============================= */
/* =============================-section-work-in-style-start-============================= */
.work-in {
  background-image: url("assets/img/chef.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 1080px;
  display: flex;
  align-items: flex-end;
}
.work-in .shadow {
  width: 100%;
  height: 644px;
  position: absolute;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
}
.work-in-cnt {
  position: relative;
  z-index: 1;
  padding: 30px 0 156px;
}
.work-in-cnt__title {
  color: #ffffff;
  margin-bottom: 50px;
  font-size: 72px;
  font-weight: 700;
  font-style: normal;
  line-height: 81px;
  letter-spacing: 2.88px;
}
.work-in-cnt__info--lang {
  display: flex;
  align-items: flex-end;
}
.work-in-cnt__info {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.work-in-cnt__info--block {
  width: 20%;
}
.work-in-cnt__info--block h3 {
  color: #ffffff;
  font-family: "Oswald";
  font-size: 128px;
  font-weight: 300;
  font-style: normal;
  line-height: 1;
  letter-spacing: 5.12px;
  margin-bottom: 27px;
}
.work-in-cnt__info--block-text {
  display: flex;
  align-items: center;
  min-height: 78px;
}
.work-in-cnt__info--block-text .icon.star {
  flex: 0 0 44px;
  height: 41px;
}
.work-in-cnt__info--block-text .icon.globe {
  flex: 0 0 42px;
  height: 42px;
}
.work-in-cnt__info--block-text .icon.workers {
  flex: 0 0 51px;
  height: 38px;
}
.work-in-cnt__info--block-text .icon.enps {
  flex: 0 0 33px;
  height: 46px;
}
.work-in-cnt__info--block-text .icon.bag {
  flex: 0 0 39px;
  height: 44px;
}
.work-in-cnt__info--block-text span {
  color: #9cc255;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 26px;
  letter-spacing: 0.72px;
  text-transform: uppercase;
  margin-left: 16px;
}
.work-in-cnt__lang {
  padding-bottom: 16px;
  display: flex;
  align-items: center;
}
.work-in-cnt__lang a {
  color: #c3c3c3;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  transition: 0.3s;
}
.work-in-cnt__lang a:hover {
  color: #ffffff;
}
.work-in-cnt__lang a + a {
  margin-left: 24px;
}

/* =============================-section-work-in-style-end-============================= */
/* =============================-section-mission-style-start-============================= */
.mission-cnt {
  padding-top: 123px;
  padding-bottom: 40px;
}
.mission-cnt__text {
  width: 65%;
  margin-bottom: 32px;
}
.mission-cnt__text-title {
  color: #4D4A46;
  margin-bottom: 20px;
}
.mission-cnt__text-description {
  color: #4D4A46;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 32px;
}
.mission-cnt__slider {
  display: flex;
  margin: 0 -15px;
}
.mission-cnt__slider--block {
  padding: 20px 32px 48px;
}
.mission-cnt__slider--block_cnt {
  border-radius: 26px;
  height: 600px;
  overflow: hidden;
  box-shadow: 0px 9px 30px -2px rgba(0, 0, 0, 0.62);
  background-color: #1d1d1d;
  display: flex;
  flex-direction: column;
}
.mission-cnt__slider--block_cnt--image {
  flex-grow: 1;
  position: relative;
}
.mission-cnt__slider--block_cnt--image img {
  position: absolute;
  -o-object-fit: fill;
     object-fit: fill;
  width: 100%;
  height: 100%;
}
.mission-cnt__slider--block_cnt--text {
  padding: 35px;
  position: relative;
}
.mission-cnt__slider--block_cnt--text svg {
  position: absolute;
  top: -18px;
}
.mission-cnt__slider--block_cnt--text span {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 26px;
}

/* =============================-section-mission-style-end-============================= */
/* =============================-section-team-style-start-============================= */
.team {
  margin-top: 72px;
}
.team-cnt {
  padding-top: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-cnt__text {
  width: 60%;
  text-align: center;
}
.team-cnt__text-title {
  color: #4D4A46;
  margin-bottom: 20px;
}
.team-cnt__text-description {
  color: #4D4A46;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 32px;
}
.team .team-image {
  width: 100%;
  margin-top: 24px;
}

/* =============================-section-team-style-end-============================= */
/* =============================-section-benefits-style-start-============================= */
.benefits-cnt {
  padding-top: 164px;
  padding-bottom: 189px;
}
.benefits-cnt__text {
  width: 65%;
  margin-bottom: 52px;
}
.benefits-cnt__text-title {
  color: #4D4A46;
  margin-bottom: 34px;
}
.benefits-cnt__text-description {
  color: #4D4A46;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 32px;
}
.benefits-cnt__benefits {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: -22px;
}
.benefits-cnt__benefits-block {
  padding: 22px;
  width: 20%;
}
.benefits-cnt__benefits-block:nth-child(odd) .benefits-cnt__benefits-block__cnt {
  border-left-color: #9cc255;
}
.benefits-cnt__benefits-block:nth-child(even) .benefits-cnt__benefits-block__cnt {
  border-left-color: #4E8035;
}
.benefits-cnt__benefits-block__cnt {
  padding: 72px 18px 72px 24px;
  min-height: 464px;
  border-radius: 26px;
  background: #ffffff;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 24px solid;
  max-height: 464px;
}
.benefits-cnt__benefits-block__cnt .icon {
  margin-bottom: 76px;
  min-height: 126px;
}
.benefits-cnt__benefits-block__cnt .title {
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 26px;
}

/* =============================-section-benefits-style-end-============================= */
/* =============================-section-positions-style-start-============================= */
.positions-cnt__title {
  color: #4D4A46;
  margin-bottom: 74px;
}
.positions-cnt__slider--image {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.positions-cnt__slider--image .positions-cnt__slider--arrows {
  width: 65%;
}
.positions-cnt__slider--image .positions-cnt__slider--arrows .positions-cnt__slider {
  margin: -18px -18px 54px -18px;
}
.positions-cnt__slider--image .positions-cnt__slider--arrows .positions-cnt__slider--blocks {
  width: 50%;
  padding: 18px;
}
.positions-cnt__slider--image .positions-cnt__slider--arrows .positions-cnt__slider--blocks_cnt--block {
  padding: 24px 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.25);
  height: 174px;
  border-radius: 18px;
}
.positions-cnt__slider--image .positions-cnt__slider--arrows .positions-cnt__slider--blocks_cnt--block:not(:first-child) {
  margin-top: 36px;
}
.positions-cnt__slider--image .positions-cnt__slider--arrows .positions-cnt__slider--blocks_cnt--block h5 {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  line-height: 32px;
}
.positions-cnt__slider--image .positions-cnt__slider--arrows .positions-cnt__slider--blocks_cnt--block .apply-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 18px;
}
.positions-cnt__slider--image .positions-cnt__slider--arrows .positions-cnt__slider--blocks_cnt--block .apply-block__text span {
  color: #727272;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
}
.positions-cnt__slider--image .positions-cnt__slider--arrows .positions-cnt__slider--blocks_cnt--block .apply-block__text b {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 20px;
  display: block;
  margin-top: 3px;
}

/* =============================-section-positions-style-end-============================= */
/* =============================-section-gallery-style-start-============================= */
.gallery-cnt {
  padding: 178px 0;
}
.gallery-cnt__text {
  width: 72%;
  margin-bottom: 32px;
}
.gallery-cnt__text-title {
  color: #4D4A46;
  margin-bottom: 34px;
}
.gallery-cnt__text-description {
  color: #4D4A46;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 32px;
}
.gallery-cnt__slider {
  display: flex;
  margin: 0 -32px;
}
.gallery-cnt__slider--block {
  padding: 20px 32px 48px;
}
.gallery-cnt__slider--block_cnt {
  border-radius: 26px;
  overflow: hidden;
  box-shadow: 0px 9px 30px -2px rgba(0, 0, 0, 0.62);
}
.gallery-cnt__slider--block_cnt img {
  width: 100%;
}

/* =============================-section-gallery-style-end-============================= */
/* =============================-section-guide-style-start-============================= */
.guide {
  margin-top: 188px;
}
.guide-cnt {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.guide-cnt__text {
  text-align: center;
}
.guide-cnt__text-title {
  color: #4D4A46;
  margin-bottom: 80px;
}
.guide-cnt__steps {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}
.guide-cnt__steps-block {
  width: 20%;
  height: 350px;
  border-radius: 50%;
  border: 3px solid black;
}

/* =============================-section-guide-style-end-============================= */
/* =============================-section-faq-style-start-============================= */
.faq {
  background-color: #252523;
  display: flex;
}
.faq-image {
  width: 50%;
  height: 1060px;
  margin-left: 100px;
}
.faq-image img {
  width: 100%;
  height: 100%;
}
.faq-cnt__title {
  color: #979491;
}
.faq-cnt__answers {
  display: flex;
  justify-content: space-between;
  margin-top: 96px;
}
.faq-cnt__answers-blocks {
  width: 28%;
}
.faq-cnt__answers-block {
  border-radius: 26px;
  background: #353431;
  padding: 20px 24px 0;
  position: relative;
}
.faq-cnt__answers-block .sign {
  position: absolute;
  top: -32px;
  right: -32px;
  width: 60px;
  height: 60px;
  background-color: #9cc255;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border-radius: 50%;
  font-size: 56px;
  font-weight: 300;
  font-style: normal;
  cursor: pointer;
}
.faq-cnt__answers-block .sign .minus {
  display: none;
  font-size: 32px;
}
.faq-cnt__answers-block .sign .plus {
  display: inline-block;
}
.faq-cnt__answers-block.open {
  padding-bottom: 20px;
}
.faq-cnt__answers-block.open .sign .plus {
  display: none;
}
.faq-cnt__answers-block.open .sign .minus {
  display: inline-block;
}
.faq-cnt__answers-block.open .faq-cnt__answers-block--text .content {
  max-height: 1000px;
}
.faq-cnt__answers-block--text {
  color: #ffffff;
  line-height: 34px;
}
.faq-cnt__answers-block--text .title {
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  padding-bottom: 20px;
  display: inline-block;
}
.faq-cnt__answers-block--text .content {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  display: block;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-in-out;
}
.faq-cnt__answers-block:not(:first-child) {
  margin-top: 74px;
}

/* =============================-section-faq-style-end-============================= */
/* =============================-footer-style-start-============================= */
footer {
  background-color: #252523;
}
footer .footer-cnt {
  padding: 120px 0 30px;
}
footer .footer-cnt__info--social {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-cnt__info {
  display: flex;
  justify-content: space-between;
  width: 75%;
}
footer .footer-cnt__info-block h5 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
footer .footer-cnt__info-block a {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.72px;
  line-height: 24px;
  text-transform: uppercase;
  display: block;
}
footer .footer-cnt__info-block a + a {
  margin-top: 27px;
}
footer .footer-cnt__social {
  display: flex;
  align-items: center;
  flex-direction: column;
}
footer .footer-cnt__social svg + svg {
  margin-top: 45px;
}
footer .footer-cnt .copyright {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
footer .footer-cnt .copyright span {
  color: #b5b5b5;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 30px;
  letter-spacing: 0.56px;
  text-transform: uppercase;
}

/* =============================-footer-style-end-============================= *//*# sourceMappingURL=index.css.map */