@font-face {
    font-family: "Roboto";
	src: url('./assets/font/roboto/Roboto-Regular.ttf');
	font-style: normal;
	font-weight: 400;
}

@font-face {
    font-family: "Roboto";
	src: url('./assets/font/roboto/Roboto-Light.ttf');
	font-style: normal;
	font-weight: 300;
}

@font-face {
    font-family: "Roboto";
	src: url('./assets/font/roboto/Roboto-Bold.ttf');
	font-style: normal;
	font-weight: bold;
}

@font-face {
    font-family: "Roboto";
	src: url('./assets/font/roboto/Roboto-Black.ttf');
	font-style: normal;
	font-weight: 900;
}

